.wrapper {
  font-size: 30px;
  margin: 12px;
  list-style: none;
  background-color: rgb(216, 248, 248);
  max-width: 1000px;
  padding: 20px;
}

h3 {
  font-size: 30px;
}

.posts {
  margin: 12px;
}

.detail {
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 600px;
  width: 100%;
  height: 600px;
  display: none;
}
.content {
  padding: 20px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: red;
}

.add {
  position: fixed;
  color: green;
  top: 50px;
  right: 50px;
  font-size: 50px;
}
.add-post {
  background-color: rgb(246, 241, 241);
  position: fixed;
  top: 20px;
  left: 20px;
  max-width: 600px;
  width: 100%;
  height: 600px;
  display: none;
  padding: 20px;
}

.unhide {
  display: block;
}
